[SddmGreeterTheme]
Name=windows-7
Description=windows-7 Qylock Theme
Author=Darkkal44
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
